* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

.sidebar {
    background-color: #1beee3;
    width: 434px;
    height: 100vh;
}

.sidebar nav {
    /* padding-left: 45px; */
    padding: 30px;
}

.sidebar nav li {
    list-style: none;
    font-size: 20px;
    padding: 33px 0px;
}

.sidebar nav li a {
    text-decoration: none;
    color: rgb(14, 14, 14);

}

.main {
    background-color: #beaf5c;
    width: 90vw;
}

.infocontainer {
    /* background-color: rgb(255, 0, 200); */
    width: 80vw;
    height: 78vh;
    margin: 25px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

/* .devpic img {
    width: 20vw;
    height: 40vh;
    border-radius: 22.5rem;

} */

.devinfo {
    font-family: 'Itim', cursive;
}

.devinfo .hello {
    font-size: 85px;
}

.devinfo .name {
    font-size: 60px;
}

.devinfo .about {
    font-size: 30px;
}

.devinfo .moreabout {
    font-size: 22px;
    padding-top: 15px;
}

.btn {
    margin: 34px;
    padding: 15px 27px;
    border-radius: 22px;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
}

.btn a {
    text-decoration: none;

    color: white;
}

.btn:hover {
    background-color: black;
    color: white;
}

/* contact section */
#contact-box h1 {
    text-align: center;
    padding: 20px;
}

#contact-box {
    padding: 0px 34px;

}

.form-group {
    padding: 34px;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 12px;
}

label {
    font-weight: bolder;

}

h2 {
    text-align: center;
}

#submit {
    font-size: 20px;
    font-weight: bold;
}

#submit:hover {
    background-color: rgb(23, 158, 226);
    cursor: pointer;
}

/* Blog item */
.blogitem {
    margin: 5px;
}

.blogcontainer h1 {
    margin: 23px;
    text-align: center;
    font-size: 50px;
}

.blogitem h2 {
    text-align: left;
    padding-bottom: 15px;
}

.blogitem .btn {
    margin: 10px;
    padding: 8px 22px;
    border-radius: 22px;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
}

/* Intro */
.intro h1 {
    padding: 10px;
}

.intro h2,
p {
    text-align: left;
    margin: 12px;
}

.skillcontainer {
    padding: 12px;
}

.skill {
    background-color: red;
    width: 265px;
    height: 6px;
}

.skillitem {
    display: flex;
    align-items: center;
}

.hundred {
    width: 300px;
    background-color: red;
}

.fifty {
    width: 250px;
    background-color: rgb(218, 237, 9);
}

.twentyfive {
    width: 200px;
    background-color: rgb(4, 110, 13);
}

.twenty {
    width: 300px;
    background-color: rgb(13, 38, 230);
}

.ten {
    width: 150px;
    background-color: rgb(230, 13, 219);
}

/* hamburger */
.hamburger {
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
    visibility: hidden;
}

body {
    overflow: hidden;
}

.imageone {
    width: 20vw;
    height: 40vh;
    border: 2px solid rgb(12, 222, 190);
    border-radius: 90px;
}